/* LAYOUT STYLE */

.container {
  margin: 4.6rem 7.6rem;
  background-color: #181719;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-large) {
    margin: 2rem 2rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* GRID DESIGN */

.section {
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
  gap: 4rem 5rem;
  margin: 5rem 0;

  @media only screen and (max-width: $bp-large) {
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
  }
}
